@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

body {
  background-color: #333; }

.navbar {
  background-color: #fff;
  box-shadow: 0 0.1rem 0.5rem #3292a6;
  opacity: 0.9;
  margin: 0rem auto; }
  .navbar h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold; }
  .navbar-nav .nav-item {
    margin: auto 1rem; }
    .navbar-nav .nav-item .nav-link {
      font-size: 1rem;
      font-weight: 600; }
      .navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus {
        color: #3292a6cc; }

/* showcase section  */
.showcase {
  background-color: #fff;
  background: url("../../img/mountains.jpg") center center/cover;
  min-height: 100%;
  position: relative;
  margin-top: 5rem; }
  .showcase .overlay {
    background: rgba(50, 146, 166, 0.5);
    width: 100%;
    min-height: 100%;
    object-fit: cover; }
  .showcase .lead {
    color: #fff;
    font-weight: 500;
    margin: 1rem auto;
    line-height: 1.6;
    letter-spacing: 0.2rem; }
  .showcase button {
    color: #fff;
    background-color: #2082d3;
    margin-top: 2rem; }

/* newsletter section  */
.news {
  background-color: #122331ea; }
  .news button {
    color: #fff;
    background-color: #2082d3; }

/* box section  */
.box {
  background-color: #fff; }
  .box .card .card-body {
    padding: 2rem 0.3rem; }

/* about section  */
.about .info-about {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #3292a6cc; }

.about .accordion .card {
  border: none; }

.about .accordion .card-header {
  cursor: pointer;
  width: 20%;
  margin: auto;
  border: none; }
  @media only screen and (max-width: 1000px) {
    .about .accordion .card-header {
      width: 30%; } }
  @media only screen and (max-width: 800px) {
    .about .accordion .card-header {
      width: 60%; } }

.about .accordion .card-body {
  border: none; }

/* author section */
.author {
  background-color: #fff; }
  .author img {
    margin-top: -20%; }
  .author .card {
    margin: 3rem auto;
    background: #f0f0f0; }
    .author .card:hover {
      background-color: #3292a6;
      color: #fff;
      transition: 0.5s; }
      .author .card:hover a {
        color: #fff; }
