/* showcase section  */
.showcase{
    background-color: $color-light;
    background: url('../../img/mountains.jpg') center center/cover;
    min-height: 100%;
    position: relative;
    margin-top: 5rem;

    & .overlay{
        background: rgba($color: #3292a6cc, $alpha: 0.5);
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    
    .lead{
        color: $color-light;
        font-weight: 500;
        margin: 1rem auto;
        line-height: 1.6;
        letter-spacing: 0.2rem;
    }

    button{
        color: $color-light;
        background-color: $primary-dark;
        margin-top: 2rem;
    }
}


/* newsletter section  */
.news{
    background-color: $color-dark-blue;
    button{
        color: $color-light;
        background-color: $primary-dark;
    }
}


/* box section  */
.box{
    background-color: $color-light;
    .card{
        .card-body{
            padding: 2rem 0.3rem;
        }
    }
}


/* about section  */
.about{
    .info-about{
        width: 50%;
        margin: auto;
        border-bottom: 1px solid $primary-overlay;
    }

    // accordion section
    .accordion{
        .card{
            border: none;
        }
        .card-header{
            cursor: pointer;
            width: 20%;
            margin: auto;
            border: none;

            @media only screen and (max-width: 1000px){
                width: 30%;
            }

            @media only screen and (max-width: 800px){
                width: 60%;
            }
        }

        .card-body{
            border: none;
        }
    }
}


/* author section */
.author{
    background-color: $color-light;

    img{
        margin-top: -20%;
    }

    .card{
        margin: 3rem auto;
        background: #f0f0f0;
        &:hover{
            background-color: $primary-color;
            color: $color-light;
            transition: 0.5s;
    
            & a{
                color: #fff;
            }
        }
    }

}